@charset "urf-8";
/* ############## wrap ############### */
body{background-color:#000; }
#wrap{width:100%; position:relative; background-color:#000; }
h2{padding:20px 0 30px; font-size:1.4rem; font-weight:600; color:#fff;}
/* ############## header ############### */
#header{position:fixed; left:0; top:0; width:100%; height:80px; background:linear-gradient(180deg,rgba(0,0,0,.5), transparent); text-align:right; transition:.3s ease all; z-index:9999;}
#header.active{height:60px; background:rgba(255,255,255,0);}
#header .inner{position:relative;}

#logo{max-width:80px; position:absolute; left:10px; top:50%; transform:translateY(-50%);}
#logo img{transition:.3s ease all; visibility:visible; opacity:1;}
#logo img.hide{visibility:hidden; opacity:0;}

#header.active #gnb{line-height:60px;}
#gnb{width:100%; line-height:80px;}
#gnb li{display: inline-block; margin-left:10px;}
#gnb li a{font-weight:600; color:#efefef; transition:.3s ease all;}
#gnb li a:hover{color:#ff1f45;}


/* ############## container ############### */
#container{width:100%;}
section{overflow: hidden;}
section li{padding-top:10px; transition:.3s ease all;}
section li:hover{padding-top:0;}


/* ############## container / slideArea ############### */
#slideArea{width:100%; position:relative;}
#slideArea ul.one-time{margin-bottom:0;}
#slideArea ul li{cursor:pointer;}
#slideArea ul li .inner{position:relative; max-width:80%;}
#slideArea .s_img{width:100%;}
#slideArea .s_img img{display: block;}
#slideArea .txtBox{position:absolute; left:0; bottom:80px; color:#fff; font-weight:600; }
#slideArea .txtBox strong{display:block; font-size:24px; padding-bottom:1rem; text-shadow:0 1px 2px #000;}
#slideArea .slick-dots{position:absolute; left:0; bottom:0px; padding-bottom:10px;}
#slideArea .slick-dots li{margin:0;}
#slideArea .slick-dots li button{background:rgba(0,0,0,0);}
#slideArea .slick-dots li button::before{color:#fff;}

/* ############## container / tivingContent ############### */
#section1{width:100%;}
#section1 .tivingCon{position:relative; height:30vw;}
#section1 ul{width:100%; height:100%; position:absolute; display:flex; flex-direction: column; flex-wrap: wrap; justify-content: center;}
#section1 ul li{width:22%; margin-right:20px; cursor:pointer; position:relative;}
#section1 ul li:hover .desc{opacity:1;}
#section1 ul li .imgArea img{border-radius: 10px;}
#section1 ul li .desc{width:100%; height:100%; position:absolute; left:0; top:0; color:#fff; padding:20px 10px 0; box-sizing:border-box; background-color:rgba(0,0,0,.7); color:#fff; opacity:0; transition:.3s ease all; border-radius:10px;}
#section1 ul li .desc em{display: block; padding-bottom:8px; font-size:.8rem; font-weight:600;}
#section1 ul li .desc .expalin{font-size:.7rem;}

#section1 .modalPop{position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:8888; opacity:0; pointer-events:none; transition:.3s ease all;}
#section1 .modalPop.visible{opacity:1; pointer-events:auto; overflow:hidden;}
#section1 .modalPop .close{width:100%; height:100%;}
#section1 .modalPop .modalInn{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:100%; max-width:1000px; background-color:#ccc; display:flex; align-items:center; padding:0 20px; box-sizing:border-box; background-color:rgba(0,0,0,.1); border-radius: 30px;}
#section1 .modalPop .modalInn .descArea{width:70%; padding-right:10%;}
#section1 .modalPop .modalInn h3{padding:30px 0 10px;}
#section1 .modalPop .modalInn h4{font-size:1.3rem; color:#efefef; padding-bottom:10px;}
#section1 .modalPop .modalInn .tage_detail{padding-bottom:30px; }
#section1 .modalPop .modalInn .tage_detail p{display: inline-block; margin-right:10px; padding:3px 4px; border:1px solid #efefef; border-radius:3px; font-size:.7rem; font-weight:600; color:#efefef;}
#section1 .modalPop .modalInn .btn{padding-bottom:30px;}
#section1 .modalPop .modalInn .btn button{display:block; width:200px; height:60px; font-weight:600; font-size:1.2rem; color:#efefef; background-color:#ff1f45; border-radius: 3px;}
#section1 .modalPop .modalInn .desc{line-height:1.6rem; color:#efefef; font-size:.8rem;}
#section1 .modalPop .modalInn .desc p span:first-child{font-size:.9rem; margin-right:8px;}
#section1 .modalPop .modalInn .explanation{padding:10px 0 20px;}
#section1 .modalPop .modalInn .posterArea{width:20%}


/* ############## container / event ############### */
#event{width:100%; cursor:pointer;}
#event img{display:block;}

/* ############## container / tvingSoon ############### */
#tvingSoon{width:100%; height:300vh; background-color:#ff1f45;}
#tvingSoon .scrollBase{width:100%; height:100vh; position:sticky; top:0; overflow:hidden;}
#tvingSoon .scrollBase .bg{width:100%; height:100%; background-color:pink;}
#tvingSoon .scrollBase .commingImg{width:100%; height:100%; position:absolute; left:0; top:0; transition:.3s ease all;}

/* ############## container / bestContent ############### */
#bestContent{width:100%;}
#bestContent .btCon{width:100%; position:relative; height:28vw;}
#bestContent .btCon ul{width:100%; height:100%; position:absolute; display:flex; flex-direction:column; flex-wrap:wrap; justify-content: center;}
#bestContent .btCon ul li{width:20%; margin-right:20px; cursor:pointer;}
#bestContent .btCon ul li img{border-radius:10px;}

/* ############## container / timeBest ############### */
#timeBest{width:100%; padding-bottom:80px;}
#timeBest .best{width:100%; position:relative; height:28vw;}
#timeBest .best ul{width:100%; height:100%; position:absolute; padding-bottom:10px;}
#timeBest .best ul li{width:20%; position:absolute; margin-right:10px; cursor:pointer;}
#timeBest .best ul li img{border-radius:10px;}
#timeBest .best ul li .ranking{position:absolute; right:0; bottom:-10px; font-size:2rem; font-weight:600; font-style:italic; color:#ccc;}

/* ############## container / using ############### */
#using{width:100%;  background-color:#ff1f45;}
#using .numArea{text-align: center;}
#using .numArea p{display:inline-block; padding:80px 0; margin-right:30px; color:#fff;}
#using .numArea p:last-child{margin-right:0;}
#using .numArea p em{display:block; font-weight:600;}
#using .numArea p .usingTit{font-size:1.2rem; padding-bottom:40px;}
#using .numArea p .usingNum{font-size:1.8rem; font-style:italic;}

/* ############## container / channel ############### */
#channel{width:100%; padding-top:80px;}
#channel .chanList{position:relative; height:18vw;}
#channel .chanList ul{width:100%; height:100%; position:absolute; }
#channel .chanList li{cursor:pointer; width:30%; margin-right:10px; position:absolute; left:0; top:50%; transform:translateY(-50%);}
#channel .chanList li img{display:block; border-radius:10px; width:100%;}

/* ############## footer ############### */
#footer{width:100%;}
#footer .topInfo{width:100%; height:40px; color:#efefef; border-bottom:1px solid #efefef; padding-bottom:8px;}
#footer .topInfo>div{float:left; height:100%;}
#footer .topInfo .notice{width:100%; display:flex; overflow:hidden;}
#footer .topInfo .notice h3{line-height:40px; width:10%;}
#footer .topInfo .notice .noticeBox{position:relative; width:90%;}
#footer .topInfo .notice ul{position:absolute;}
#footer .topInfo .notice li{line-height:40px; padding-left:20px; box-sizing:border-box;}
#footer .topInfo .notice li a{color:#efefef; vertical-align:middle;}

#footer .util{padding:24px 0;}
#footer .util a{color:#efefef; margin-right:10px; font-size:.9rem;}

#footer .sns{width:100%; padding:10px 0;}
#footer .sns a{display:inline-block; width:40px; font-size:1.2rem; height:40px; background-color:#efefef; border-radius: 50%; line-height:40px; text-align:center; margin-right:10px; position:relative;}
#footer .sns a::after{content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); border-radius:50%;  width:100%; height:100%; background-color:rgba(255,255,255,.8); transition:.3s ease all;}
#footer .sns a:hover::after{background-color:rgba(255,255,255,0);}
#footer .sns a i{color:rgba(0,0,0,1);}

#footer .copyright{padding:20px 0 80px;}
#footer .copyright a{color:#fff;}
#footer .copyright strong{font-size:1rem;}
